@media screen and (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    
    .welcome{
        .desktop-nav{
            li{
                margin: 0 0 0 5em;
            }
        }
    }

    .about{
        text-align: center;
        .info{
            flex-direction: row;
            padding-left: 270px;
        }
       

        img{
            position: absolute;
            left: -35px;
        }
    }
}