@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

$fontstack: 'Exo 2', sans-serif;
$logo-font: 'Dancing Script', cursive;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fontstack;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    background: url("/images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 580px;
    height: 100vh;

    .welcome{
        position: relative;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.70);

        .nav-bar{
            // background-color: red;
            .navigation{
    
                position: fixed;
                top: 0;
                width: 100vw;
                padding: .5em 0;
                height: 60px;
                z-index: 10;
                background-color: #000;

                box-shadow: 0 0 .1em red;
                .mobile-nav{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    width: 90vw;
                    margin: 0 auto;
        
                    #home{
                        font-family: $logo-font;
                        font-size: 2.2em;
        
                        a{
                            color: #ffffff;
                        }
                    }

                    .mobile-menu img{
                        border: 2px solid rgba(255, 0, 0, 0.7);
                        border-radius: 5px;
                        padding: 5px 10px;
                    }
                    
                }
    
                
            }

            .mobile-hide{
                background-color: red;
                position: absolute;
                top: 60px;
                width: 100vw;
                z-index: 5;
                transform: translateY(-125%);
                transition: transform .3s ease-in;
                
                .desktop-nav{
                    width: 90vw;
                    margin: 1em auto;
    
                    li{
                        padding: 1em 0;
                        font-size: 1.2em;
                        a{
                            color: #ffffff;
                            font-size: 1.2em;
    
                            i{
                                padding-right: 2em;
                                width: 25px;
                            }
                        }
                    }
                }
            }

            .show-menu{
                transform: translateY(0);
            }
            
        }

        &-content{
            // position: relative;
            color: #ffffff;
            width: 90vw;
            margin: 0 auto;
            padding-top: 110px;
            min-height: 100vh;

            h1{
                font-size: 3em;
                margin-top: 1em;
                text-align: center;
            }

            #profession{
                margin-top: 3em;
                text-align: center;
                font-style: italic;

                #dev{
                    display: block;
                    margin-top: .5em;
                }
            }

            .proj-cont{
                position: absolute;
                display: flex;
                // justify-content: space-between;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%);
                overflow-y: auto;

                a{
                    display: inline-block;
                    border-radius: 5px;
                    background-color: red;

                    padding: .5em 1.5em;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 1.2em;

                    &#project-btn{
                        margin-right: 1em;
                    }
                    &#contact-btn{
                        margin-left:1em;
                    }
                }
            }
        }
    }

}
