@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

$fontstack: 'Exo 2', sans-serif;
$logo-font: 'Dancing Script', cursive;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fontstack;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    background: url("/images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    min-height: 100vh;

    .welcome{
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.70);

        .nav-bar{
            // background-color: red;
            .navigation{
    
                padding: .5em 0;
                height: 60px;
                .mobile-nav{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    width: 90vw;
                    margin: 0 auto;
        
                    #home{
                        font-family: $logo-font;
                        font-size: 2.2em;
        
                        a{
                            color: #ffffff;
                        }
                    }

                    .mobile-menu{
                        border: 2px solid rgba(255, 0, 0, 0.7);
                        border-radius: 5px;
                        padding: 5px;
                    }
                    
                }
    
                .desktop-nav{
                    background-color: white;
                    position: absolute;
                    top: 54px;
                    width: 80vw;
                    height: 100vh;
                    transform: translateX(-100%);
                }
            }
        }

        &-content{
            // position: relative;
            color: #ffffff;
            width: 90vw;
            margin: 3em auto 0;

            h1{
                font-size: 3em;
                margin-top: 1em;
                text-align: center;
            }

            #profession{
                margin-top: 3em;
                text-align: center;
                font-style: italic;

                #dev{
                    display: block;
                    margin-top: .5em;
                }
            }

            .proj-cont{
                position: absolute;
                display: flex;
                // justify-content: space-between;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);

                a{
                    display: inline-block;
                    border-radius: 5px;
                    background-color: red;

                    padding: .5em 1.5em;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 1.2em;

                    &#project-btn{
                        margin-right: 1em;
                    }
                    &#contact-btn{
                        margin-left:1em;
                    }
                }
            }
        }
    }

}
