@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

@import 'utilities';

$fontstack: 'Exo 2', sans-serif;
$logo-font: 'Dancing Script', cursive;
$primary-color: #BA2316;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fontstack;
    background-color: #ddd;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

h2, h3, h4{
    text-align: center;
    text-transform: uppercase;
}

header{
    background: url("/images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 580px;
    height: 100vh;

    .welcome{
        position: relative;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.80);

        .nav-bar{
            // background-color: red;
            position: fixed;
            z-index: 5;
            .navigation{
    
                position: fixed;
                top: 0;
                width: 100vw;
                padding: .5em 0;
                height: 60px;
                z-index: 10;
                background-color: #000;

                box-shadow: 0 0 .1em $primary-color;
                .mobile-nav{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    width: 90vw;
                    margin: 0 auto;
        
                    #home{
                        font-family: $logo-font;
                        font-size: 2.2em;
        
                        a{
                            color: #ffffff;
                        }
                    }

                    .mobile-menu img{
                        border: 2px solid $primary-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                    }
                    
                }
    
                
            }

            .mobile-hide{
                background-color: #000;
                position: absolute;
                top: 60px;
                width: 100vw;
                z-index: 5;
                transform: translateY(-100%);
                transition: transform .2s linear;

                box-shadow: 0 0 .5em $primary-color;
                
                .desktop-nav{
                    width: 90vw;
                    margin: 1em auto;
    
                    li{
                        padding: 1em 0;
                        
                        a{
                            color: #ffffff;
                            font-size: 1.2em;
    
                            i{
                                padding-right: 2em;
                                width: 25px;
                            }
                        }
                    }
                }
            }

            .show-menu{
                transform: translateY(0);
            }
            
        }

        &-content{
            // position: relative;
            color: #ffffff;
            width: 90vw;
            margin: 0 auto;
            padding-top: 110px;
            min-height: 100vh;

            h1{
                font-size: 3em;
                margin-top: 1em;
                text-align: center;
            }

            #profession{
                margin-top: 3em;
                text-align: center;
                font-style: italic;

                #dev{
                    display: block;
                    margin-top: .5em;
                }
            }

            .proj-cont{
                position: absolute;
                display: flex;
                // justify-content: space-between;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%);
                overflow-y: auto;

                a{
                    display: inline-block;
                    border-radius: 5px;
                    background-color: $primary-color;

                    padding: .5em 1.5em;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 1.2em;

                    &#project-btn{
                        margin-right: 1em;
                    }
                    &#contact-btn{
                        margin-left:1em;
                    }
                }
            }

            .scroll{
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}

main{
    min-height: 100vh;
}


.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .project{
        background-color: #ffffff;
        position: relative;
        width: 288px;
        height: 340px;

        padding: 1em;
        margin: 1em 0;
        text-align: center;
        box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.2);
            border-radius: 5px;

            
        img{  
            width: 100%;
            height: 180px;
        }    

        p{
            margin: 1em 0;
            font-weight: bold;
            color: $primary-color;
        }
    }

    a{
        position: absolute;
        bottom: 30px;
    }

    #link{
        left: 20px
    }
    #repo{
        right: 20px;
    }

    .dev-lang{
        margin: 1em 0 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-size: .7rem;
    }
}

#more-projects{
    text-align: center;
    color: rgba($color: #000000, $alpha: 0.3);
}

.skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .skill{
        background-color: #ffffff;
        width: 100%;
        padding: 0 0 1.5em;
        margin: 1em;
        text-align: center;
        border-radius: 5px;
    }

    img{
        width: 150px;
        height: 150px;
    }
}

.languages{

    .lang{
        width: 100%;
        margin: 1em 0;
    }

    .card{
        background-color: #ffffff;
        width: 100%;
        max-width: 165px;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
    }
    img{
        width: 100%;
        height: 100px;
    }
}

.about{
    text-align: center;
    max-width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .info{
        margin: 1em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        padding: 1em 1em;
        border-radius: 5px;

        width: 100%;
    }
    p{
        text-align: justify;
        line-height: 20px;
    }
    img{
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.5);
    }

    h4{
        display: inline-block;
        color: $primary-color;
        padding: .2em 0;
        margin: .5em 0 1em;
        border-bottom: 2px solid #000;
    }
}

.contact{
    margin: 1em 0;
    .call{
        color: $primary-color;
        text-align: center;

        a{
            color: $primary-color;
        }
    }

    .social{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        margin: 2em 0 0;
        img{
            width: 30px;
        }
    }
}
.container{
    width: 90vw;
    margin: 2em auto;
}

footer{
    background-color: $primary-color;
    overflow: auto;

    .copyright{
        text-align: center;
        color: #eea4a4;
    }
}

@import 'tablet';
@import 'desktop';