@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-family: 'Piazzolla', serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Header and Introduction Styling */
  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background: url("/images/bg.jpg"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* background-color: rgba(0,0,0,.7); */
  }
  
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: 
  }
  

  .navigation .mobile-nav {
    display: flex;
    margin: 0 auto;
    padding: 0.5em 1em;
    align-content: center;
    justify-content: space-between;
  }
  
  .navigation #home {
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    font-weight: 100;
  }
  .navigation #home a{
    color: rgb(2, 2, 50);
    font-size: 1.2em;
  }

  .mobile-show  {
    padding-top: .4em;
  }

  .navigation .desktop-nav {
    
    display: none;
  }
  .navigation .show {
    display: block;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 1em;
    /* background-color: #000; */
    /* border-top: 1px solid #ffffff; */
  }
  .show .mobile-hide{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-hide img{
    width: 32px;
    height: 32px;
    margin-right: 1em;
  }
  .mobile-hide a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8em;
  }
  
  .navigation .desktop-nav li {
    padding: 1em 0;
  }
  
  #menu-icon {
    width: 20px;
    height: 20px;
  }
  
  /* Welcome message */
  .welcome {
    text-transform: uppercase;
    padding: 3em 1em;
    height: 100%;
    /* background-color: rgba(0,0,0,.7); */
    /* color: #ffffff; */
  }
.welcome-msg{
  width: 300px;
  margin: 0 auto;
}
  .welcome-msg h1 {
    color: rgb(2, 2, 50);
    padding: 1.5em 0 2em;
    font-size: 2.1em;
    text-shadow: #000 .1em .1em .2em;
    font-weight: 800;
  }
  
  .welcome-msg p {
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
  }

  .welcome-msg p.skills
  .welcome p a{
    color: rgb(152, 152, 236);
    text-decoration: underline;
  }

  .proj-cont{
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .proj-cont a{
    background-color: rgb(2, 2, 50);
    color: #fff;
    font-size: 1.1em;

    
    border-radius: 5px;
    padding: .5em 1em;
    margin: .5em 1em;
  }

  /* main contents styling */
  .main-contents .projects{
    padding: 2.5em 0 1em;
  }
  
  .projects h2{
    text-align: center;
  }
  
  .project{
    display: block;
    position: relative;
    width: 90%;
    height: 40vh;
    margin: 1em auto;
   
  }
  .project-info{
    background-color: rgba(255, 255, 255,.5);
    text-align: center;
    color: black;
  }
  .project-info h3{
    width: 45%;
    margin: auto;
    border-bottom: 1px solid black;
  }
  .quiz{
    border: 1px solid black;
    background-image: url("/images/quiz.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
#more-projects{
  color: #dbd1d1;
  text-align: center;
}

h2{
  text-align: center;
  margin: 2em auto 1em;
}
.service{
  position: relative;
  text-align: center;
  border-radius: 5px;
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  padding: 2em 0;
  box-shadow: .1em .1em .3em #000;
  margin-bottom: 3em;
}
.service img{
  width: 70%;
}

.service h4{
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);

  letter-spacing: .2em;
  width: 90%;
}

.service h4 a{
  color: #fff;
  font-size: .8em;

  display: block;
  margin: 2em auto 0;
  padding: .5em 1em;
  width: 75%;
  border-radius: 5px;
  background-color: navy;
}
  /* About */
  
  #about-me{
    width: 90vw;
    background-color: #ddd9eb;
    margin: 1em auto;
    padding: 1em;
    text-align: center;

    border-radius: 5px;
  }

  #about-me h3{
    border-bottom: 1px solid #000;
    margin: auto;
  }

  #about-me img{
    border: 1px solid #000;
    border-radius: 50%;
  }
  .info{
    padding: 1em 0;
  }

  /* contact */
  #contact {
    text-align: center;
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
  }
  #contact h3{
    border-bottom: 1px solid black;
    margin: 1em;
  }

  #contact a {
    padding: .2em 1em;
  }
  #contact a img{
    width: 20px;
  }
  .direct{
    display: flex;
    flex-direction: column;
  }

  .direct a{
    color: #000;
  }

  .phone, .email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
  }

  .direct img{
    width: 20px;
    height: 20px;
  }
  .social{
    margin-top: 3em;
  }

  /* Footer Styling */
    
  .copyright {
    text-align: center;
    padding: 1em;
  }
  .copyright p{
    padding: .5em 0;
  }
  .project-info{
    position: absolute;
    bottom: 0;
    width: 100%;
  }


  /* Responsive Design */
  
  
  @media screen and (min-width: 425px) {

    .welcome-msg{
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
    
    .proj-cont a{
      background-color: rgba(0, 0, 0, 0.856);
      color: #fff;
      font-size: 1.1em;
  
      
      border-radius: 10px;
      padding: .4em .5em;
      margin: .5em 1.5em;
    }
    .services{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .container {
      display: flex;
      align-content: space-around;
    }
  
    .content {
      flex: 1 1 auto;
    }
  
    #about-me h3{
      width: 70%;
    }

    .copyright {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .copyright p{
      font-weight: 600;
      margin: 0 .5em;
    }
  
  }
  
  @media screen and (min-width: 768px) {

    header{
      margin: 0 auto;
      background: url("/images/bg-l.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    
    .desktop-hide {
      display: none;
    }

    .navigation{
      display: flex;
      align-content: center;
      justify-content: space-between;
    }

    .navigation .desktop-nav{
      display: flex;
    }
    .desktop-nav li{
      margin: 0 1em;
    }
    .navigation .desktop-nav img{
      display: none;
    }

    .proj-cont a{
      background-color: rgba(0, 0, 0, 0.856);
      color: #fff;
      font-size: 1.3em;
  
      
      border-radius: 10px;
      padding: .5em 1.5em;
      margin: .5em 2em;
    }

    .projects-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .services{
      display: grid;
      align-self: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      font-size: 1.5em;
    }

    .services img{
      width: 50%;
    }
  
    .about-me {
      width: 50%;
      height: auto;
      margin: auto;
      padding: 1em 2em;
      text-align: center;
      display: flex;
      align-items: center;
    }
  .info{
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.info p{
  text-align: left;
  margin-left: 2em;
}

.info img{
  display: block;
}
    #info img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 1em;
    }

    .direct{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .social{
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      margin: 2em auto 1em;
    }
}

  @media screen and (min-width: 1024px){
    .welcome-msg h1{
      font-size: 4em;
    }
    
    .proj-cont a{
      background-color: rgba(0, 0, 0, 0.856);
      color: #fff;
      font-size: 1.5em;
  
      
      border-radius: 10px;
      padding: .4em .5em;
    }

    .info{
      width: 850px;
    }
  }