* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Header Styling */
  header {
    width: 100vw;
    height: 100vh;
    background: url("/images/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.7);
  }
  
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .nav-bar .mobile-nav {
    display: flex;
    padding: 0.5em 1em;
  }
  
  .nav-bar #home {
    margin-right: auto;
  }
  .nav-bar #home a{
    color: #ffffff;
  }
  .nav-bar .desktop-nav {
    background-color: rgb(216, 216, 230);
    padding: 1em;
    flex-direction: column;
    align-content: center;
    width: 100%;
    display: none;
    height: auto;
    transition: background-color 1s ease-in-out 0.5s;
  }
  .nav-bar .show {
    display: block;
  }
  
  .nav-bar .desktop-nav li {
    padding: 1em;
  }
  
  #menu-icon {
    width: 20px;
    height: 20px;
  }
  
  .welcome {
    padding: 3em 1em;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
  }

  .welcome h1 {
    padding: 1.5em 0 2em;
    text-shadow: #000 .1em .2em .2em;
  }
  
  .welcome p {
    text-align: center;
    padding: 3em 0 1em;
  }
  .welcome p a{
    color: rgb(152, 152, 236);
    text-decoration: underline;
  }

  .proj-cont{
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .proj-cont a{
    background-color: rgba(0, 0, 0, 0.856);
    color: #fff;
    font-size: 1.4em;

    
    border-radius: 10px;
    padding: .4em 1.2em;
    margin: .5em;
  }

  /* main contents styling */
  .main-contents .projects{
    padding: 4em 0 1em;
  }
  
  .projects h2{
    text-align: center;
  }
  
  .project{
    position: relative;
    width: 90%;
    height: 40vh;
    margin: 1em auto;
   
  }
  .project-info{
    background-color: rgba(255, 255, 255,.5);
    text-align: center;
    color: black;
  }
  .project-info h3{
    width: 45%;
    margin: auto;
    border-bottom: 1px solid black;
  }
  .quiz{
    border: 1px solid black;
    background-image: url("/images/quiz.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  /* About */
  
  #about-me{
    width: 90vw;
    margin: 1em auto;
    text-align: center;
  }

  .info{
    padding: 1em 0;
  }

  /* contact */
  #contact {
    text-align: center;
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
  }
  #contact h3{
    border-bottom: 1px solid black;
    margin: 1em;
  }

  #contact a {
    padding: .2em 1em;
  }
  #contact a img{
    width: 20px;
  }
  .direct{
    display: flex;
    flex-direction: column;
  }

  .direct a{
    color: #000;
  }
  .social{
    margin-top: 1.5em;
  }

  /* Footer Styling */
    
  .legal {
    text-align: center;
    padding: 1em;
  }
  
  .legal p a{
    color: rgb(41, 40, 40);
  }
  .project-info{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  /* Responsive Design */
  
  @media (min-width: 425px) {
    .nav-bar .desktop-nav .mobile-hide {
      display: flex;
    }
  
    .desktop-hide {
      display: none;
    }
  
    .container {
      display: flex;
      align-content: space-around;
    }
  
    .content {
      flex: 1 1 auto;
    }
  
    .legal {
      display: flex;
      align-content: space-between;
    }
  
    .legal-item {
      flex: 1 1 auto;
    }
  }
  
  @media (min-width: 768px) {
    .offers {
      margin: 1em auto;
    }
  
    .modules {
      /* width: 100vw; */
      display: grid;
      grid-template-columns: 33% 33% 33%;
      align-content: space-around;
    }
  
    .about-me {
      height: auto;
      margin: auto;
      padding: 1em 2em;
      text-align: center;
      display: flex;
      align-items: center;
    }
  
    .about-me img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 1em;
    }
  }